.add-message {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    align-items: flex-end;
}

.add-message__field {
    height: 32px;
    width: 100%;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    color: #333333;
    resize: none;
}

.add-message__button {
    margin-left: 15px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    border: none;
    background-color: #cecece;
}
