.message-wrapper {
    display: flex;
    padding: 5px 20px;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}

.message {
    display: flex;
    padding: 10px;
    max-width: 70%;
    border-radius: 10px;
    background-color: #f1f1f1;
    word-break: break-all;
    color: #333;
}

.message-wrapper_highlight {
    background-color: rgba(0, 0, 0, 0.1);
}

.message-wrapper_my {
    justify-content: flex-end;
}

.message_my {
    text-align: end;
}
