.messages {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
    background-color: #cecece;
    border-radius: 3px;
    overflow-y: auto;
}

.messages_loading {
    background-color: red;
}

.messages-info-wrapper {
    padding: 10px;
}
