.messages {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100% - 68px);
    background-image: url('../core/images/what-the-hex-dark.png');
    background-size: 75%;
    overflow-y: auto;
}

.messages_loading {
    background-color: red;
}

.messages-info-wrapper {
    background-color: #252525;
    border-left: solid 1px #333;
}
