@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import './uikit.scss';
@import '../messages/messages.scss';
@import '../message/message.scss';
@import '../add-message/add-message.scss';
@import '../delete-messages/delete-messages.scss';
@import '../add-user/add-user.scss';
@import '../main-page/main-page.scss';

#root {
    height: 100%;
    font-family: 'Arsenal', sans-serif;
}

.app-wrapper {
    height: 100%;
}

.header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 16px 1px #cecece;
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.nav-wrapper__link {
    text-transform: uppercase;
    color: #000;
    transition: color 200ms ease-in-out;
}

.nav-wrapper__link:hover {
    color: #333;
}

.mainpage-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: calc(100% - 50px);
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    width: calc(100% - 200px);
    height: 100%;
}
